[submodule "content_repos/docs-cloudfoundry-concepts"]
	path = content_repos/docs-cloudfoundry-concepts
	url = https://github.com/cloudfoundry/docs-cloudfoundry-concepts.git
[submodule "content_repos/docs-dev-guide"]
	path = content_repos/docs-dev-guide
	url = https://github.com/cloudfoundry/docs-dev-guide.git
[submodule "content_repos/docs-buildpacks"]
	path = content_repos/docs-buildpacks
	url = https://github.com/cloudfoundry/docs-buildpacks.git
[submodule "content_repos/docs-cf-cli"]
	path = content_repos/docs-cf-cli
	url = https://github.com/cloudfoundry/docs-cf-cli.git
[submodule "content_repos/docs-deploying-cf"]
	path = content_repos/docs-deploying-cf
	url = https://github.com/sap-contributions/docs-deploying-cf
